p{
    color: black;
    font-style: italic;
}
#second-header {
    color: aquamarine;
}
.about-me{
    color: yellow;
}
body{
    background-image:url('images/Background.jfif');
    background-repeat: no-repeat;
    background-color: blue;
}
footer {
    display: block;
  }