p{
    color: black;
    }

body{
    background-image:url('images/Background.jfif');
    background-repeat: repeat;
    background-color:wheat;
     }
footer {
    display: block;
  }
  h1 {
    color: blue;
    text-transform: capitalize;
    text
  }
  h3 {
    color: rgb(206, 50, 99);
  }